Repository infinum/eightshift-forms, pull requests merged in 2022-08, with the labels that each got.

#245 Custom form actions
  src/Blocks/components/form/assets/form.js
  src/Blocks/components/form/components/form-options.js
  src/Blocks/custom/form/form.php
  src/Labels/Labels.php
  src/Rest/Routes/AbstractBaseRoute.php
  src/Rest/Routes/FormSubmitCustomRoute.php
  tests/Validation/ValidationSettingsTest.php
Labels: improvement

#249 Fix for custom form actions
  src/Blocks/custom/form/manifest.json
Labels: bugfix

#243 Test coverage improvements
  src/Editor/Editor.php
  src/Settings/SettingsHelper.php
  tests/Blocks/BlocksTest.php
  tests/Cache/SettingsCacheTest.php
  tests/Config/ConfigTest.php
  tests/Datasets/FormMarkupIntegrationFields.php
  tests/Datasets/InnerBlocksToArray.php
  tests/Datasets/MailerCalls.php
  tests/Datasets/ThemeLocalizations.php
  tests/Datasets/ValidationSettings.php
  tests/Datasets/Validator.php
  tests/Editor/EditorTest.php
  tests/Enqueue/EnqueueAdminTest.php
  tests/Enqueue/EnqueueBlocksTest.php
  tests/Enqueue/EnqueueThemeTest.php
  tests/Geolocation/GeolocationTest.php
  tests/Helpers.php
  tests/Helpers/HelperTest.php
  tests/Hooks/FiltersTest.php
  tests/Hooks/VariablesTest.php
  tests/Integrations/Goodbits/GoodbitsSettingsTest.php
  tests/Integrations/Goodbits/GoodbitsTest.php
  tests/Mailer/MailerTest.php
  tests/Settings/SettingsHelperTraitTest.php
  tests/Validation/ValidatorTest.php
Labels: tests

#248 Feature/active campaign
  src/Blocks/components/submit/manifest.json
  src/Blocks/custom/active-campaign/active-campaign-block.js
  src/Blocks/custom/active-campaign/active-campaign.php
  src/Blocks/custom/active-campaign/components/active-campaign-editor.js
  src/Blocks/custom/active-campaign/components/active-campaign-options.js
  src/Blocks/custom/active-campaign/manifest.json
  src/Blocks/custom/form-selector/manifest.json
  src/Cache/SettingsCache.php
  src/Enqueue/Blocks/EnqueueBlocks.php
  src/Hooks/Filters.php
  src/Hooks/Variables.md
  src/Hooks/Variables.php
  src/Integrations/ActiveCampaign/ActiveCampaign.php
  src/Integrations/ActiveCampaign/ActiveCampaignClient.php
  src/Integrations/ActiveCampaign/ActiveCampaignClientInterface.php
  src/Integrations/ActiveCampaign/SettingsActiveCampaign.php
  src/Integrations/Goodbits/Goodbits.php
  src/Integrations/Greenhouse/GreenhouseClient.php
  src/Integrations/Hubspot/HubspotClient.php
  src/Integrations/Mailchimp/Mailchimp.php
  src/Integrations/Mailchimp/MailchimpClient.php
  src/Integrations/Mailerlite/Mailerlite.php
  src/Integrations/Mailerlite/MailerliteClient.php
  src/Integrations/Readme.md
  src/Labels/Labels.php
  src/Rest/ApiHelper.php
  src/Rest/Routes/CacheDeleteRoute.php
  src/Rest/Routes/FormSettingsSubmitRoute.php
  src/Rest/Routes/FormSubmitActiveCampaignRoute.php
  src/Rest/Routes/FormSubmitCustomRoute.php
  src/Rest/Routes/FormSubmitGoodbitsRoute.php
  src/Rest/Routes/FormSubmitGreenhouseRoute.php
  src/Rest/Routes/FormSubmitHubspotRoute.php
  src/Rest/Routes/FormSubmitMailchimpRoute.php
  src/Rest/Routes/FormSubmitMailerRoute.php
  src/Rest/Routes/FormSubmitMailerliteRoute.php
Labels: improvement, integrations
